%h1== Welcome #{@user.username}!

- Meal.all.each do |meal|
    -# == #{meal.date_time}
    %p= meal.description
    %a{:href => "/edit/#{meal.id}"} edit
    %a{:href => "/delete/#{meal.id}"} delete
%p
%a{:href => "/new"} Add a meal!

%a{:href => "/logout"}logout
