%h1== Welcome #{@user.username}!

- @user.meals.all.each do |meal|
    -# == #{meal.date_time}
    %p 
    %a{:href => url("/meal/#{meal.id}")} #{meal.description}
    %p 
    %a{:href => url("/edit/#{meal.id}")} edit
    %a{:href => url("/delete/#{meal.id}")} delete
%p
%a{:href => url("/new")} Add a meal!
%p
%a{:href => url("/logout")}logout
